
.servingWrapper {
    display: grid;
    grid-template-rows: 1fr 3fr 8fr 8fr;
    height: 100%;
}

.servingTitle {
    grid-row-start: 1;
}

.servingDescription{
    grid-row-start:2
}
.servingBox1 {
    grid-row-start: 3;
}
.servingBox2 {
    grid-row-start: 4;
}

