.reviewWrapper{
    height: 100%;
    background-color: pink;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 20% 60% 20%;
}
.reviewDescription {
    color:turquoise;
    padding: 10%;
    grid-column-start: 2;
}

.reviewImg {
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 10%;
}